::selection {
	background: #fff882;
	color: #444444;
}

::-moz-selection {
	background: #fff882; /* Firefox */
	color: #444444;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	color: #333;
	font-family: PlutoSansLight, sans-serif;
	font-size: 15px;
	line-height: 1.7;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #333;
}

a:active {
	position: relative;
	outline: none;
	top: 1px;
	color: #333333;
}

h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.bounder {
	margin: 0 auto 0 auto;
	padding: 15px 0 0 15px;
	width: 945px;
	position: relative;
}

.hdrlinks {
	margin: 15px 0 0 0;
	width: auto;
	text-align: center;
	font-size: 15px;
}

.hdrlinks a {
	text-decoration: none;
	color: #888888;
	margin-right: 0.8em;
	display: inline-block;
}

.hdrlinks a:last-child {
	margin-right: 0;
}

.hdrlinks a:hover {
	color: #333333;
}

.hdrlinks a:active {
	position: relative;
	outline: none;
	top: 1px;
	color: #333333;
	z-index: 10;
}

.ttl {
	margin: 30px 0 22px 0;
	padding: 0;
	width: auto;
	text-align: center;
	font-size: 18pt;
	font-family: PlutoSansExtraLight, sans-serif;
	font-weight: normal;
}

.ttl h2 {
	margin: 0;
	padding: 0;
	font-size: 2em;
	position: relative;
	width: 60%;
	margin: 0 auto 0 auto;
	font-weight: normal;
}

.logo {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	left: 25px;
	width: 132px;
}

.logo img {
	width: 100%;
	height: auto;

}

.post {
	max-width: 640px;
	padding: 0 0 0 0;
	margin: 50px auto 70px auto;
}

.postimg {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.postimgholder {
	width: 100%;
	height: auto;
}

/* Video wrapper 16:9 */

.vdowrap169 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.vdowrap169 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video wrapper 4:3 */

.vdowrap43 {
	position: relative;
	padding-bottom: 75%; /* 4:3 */
	padding-top: 25px;
	height: 0;
}

.vdowrap43 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.thumblasso {
}

.project_thumb {
	background: #ffffff;
	float: left;
	margin: 0 15px 15px 0;
	height: 200px;
	width: 300px;
	line-height: 1.5;
	position: relative;
	
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

.cardimgcrop {
	/*	background: #f5f5f5;
	height: 200px;
	overflow: hidden;
	position: relative;
	z-index: 11; */
}

.thumb_info h3 {
	font-size: 9pt;
	line-height: 1.3;
	margin: 0;
}

.thumb_info {
	background: #ffffff;
	cursor: pointer;
	font-size: 9pt;
	line-height: 1.3;
	padding: 10px 12px 8px 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	text-decoration: none;
}

.thumb_info {
	display: none;
}

.project_thumb .hover .thumb_info {
	display: block;
}

.project_thumb a:active {
	position: static;
}

.thumb_title {
	font-family: PlutoSansMedium, sans-serif;
	color: #333;
}

.thumb_sub {
	font-size: .92em;
	color: #8c898e;
}

.small {
	font-size: 6pt;
}

.huge {
	font-size: 36pt;
}

#hover {
	-moz-box-shadow:    0px 0px 15px 0px #ccc;
	-webkit-box-shadow: 0px 0px 15px 0px #ccc;
	box-shadow:         0px 0px 15px 0px #ccc;
}

#csul {
	font-family: 'comic_sans_ultralightultraLt';
	color: #000;
	-webkit-font-smoothing: antialiased;
}

/* Loader */

.loader_holder {
	display: none;
	position: absolute;
	text-align: center;
	top: 8px;
	left: 8px;
	z-index: 3;
}


/* Media Queries for Mid size */

@media all and (max-width: 1050px) {

	.bounder {
		width: 630px
	}

	.logo {
		width: 115px;
	}
}

/* Media Queries for Small size */

@media all and (max-width: 644px) {

	.bounder {
		max-width: 315px;
	}

	.logo {
		width: 70px;
		position: absolute;
		top: 50px;
		left: 10px;
	}

	.ttl {
		font-size: 12pt;
	}

	.post {
		margin: 0 0 30px 0;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-device-width : 480px) {

	body {
		font-size: 10pt
	}

	.bounder {
		width: 95%;
		max-width: 480px;
		margin: 0;
		padding: 3% 5%;
		padding-right: 0;
	}

	.logo {
		width: 14%;
		position: absolute;
		top: 10px;
		left: 20px;
	}

	.thumblasso {
		width: 94%;
		margin: 0;
		padding: 0;
	}

	.post {
		width: 94%;
		margin: 0;
		padding: 0;
	}

	.project_thumb {
		width: 100%;
		height: auto;
		border-style: solid;
		border-width: 1px;
		border-color: #d4d4d4;
		margin-right: 0;
		padding-right: 0;
	}

	.project_thumb .nohover .thumb_info {
		display: block;
	}

	.ttl, .hdrlinks {
		width: 90%;
		margin-right: 0;
		padding-right: 0;
		font-size: 12pt;
	}

	.ttl {
		margin: 20px 0 12px 0;
		padding: 0;
	}

	.hdrlinks {
		font-size: 10pt;
		margin-top: 0;
		text-align: right;
		font-family: PlutoSansThin, sans-serif;
		font-weight: normal;
	}

	#hover {
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}

}

/* iPad portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.project_thumb .nohover .thumb_info {
		display: block
	}

	.project_thumb {
		border-style:solid;border-width: 1px;
		border-color:#d4d4d4;
	}

	.bounder {
		width: 634px;
	}

	.logo {
		width: 115px;
	}

	#hover {
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}

}

/* iPad landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
	.project_thumb .nohover .thumb_info {
		display: block
	}

	.project_thumb {
		border-style:solid;border-width: 1px;
		border-color:#d4d4d4;
	}

	.bounder {
		width: 951px;
	}

	#hover {
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
	}

}
